body
{
    background-color:plum;
    color:darkorchid;
    font-family: 'Special Elite', cursive;
}

.main_div button
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.header_div
{
    background: rgb(188, 124, 220);
    color:violet;
}

.header_div p
{
    font-family: 'Roboto', sans-serif;
    color:darkorchid;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.copy_right_footer
{
position: fixed;
color:darkorchid;
bottom: 0;
width: 100%;
font-size: 18px;
background-color:orchid;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(229, 175, 229)
}